/* Desenvolva sua estilização aqui... */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 45.938rem;
  width: 100%;
  margin-bottom: 2.813rem;
}

.containerBanner {
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.banner {
  width: 100%;
  transform: scale(1.1);
}

.bgTransparent {
  width: 100%;
  background-color: var(--color-transparent);
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
}

.containerHeader > img {
  margin-bottom: 3.75rem;
}
.containerHeader > .description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3.75rem;
}

.containerMain {
  display: flex;
  flex-direction: column;
  gap: 3.375rem;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
  padding-top: 2.813rem;
  background-color: var(--color-grey-5);
}

.sectionMain {
  display: flex;
  justify-content: space-between;
}

.listJobs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.containerJobsSelecteds {
  width: 27rem;
  max-width: 100%;
  height: 0%;
  border-radius: var(--radius-1);
  background-color: var(--color-grey-6);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.containerJobsSelecteds > h3 {
  margin-left: 2rem;
}

@media (max-width: 991px) {
  .containerBanner {
    height: 790px;
    width: 100%;
    overflow: hidden;
  }

  .banner {
    width: 100%;
    transform: scale(1.1);
  }

  .containerHeader > .description {
    gap: 2rem;
  }

  .containerMain {
    padding-bottom: 3.125rem;
    margin-bottom: 0;
  }

  .sectionMain {
    flex-direction: column;
    gap: 2.25rem;
  }

  .containerJobsSelecteds {
    width: 100%;
  }
}
