.cardJobs {
  width: 43.75rem;
  height: 18.75rem;
  border-radius: var(--radius-1);
  padding: 1.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
  background-color: var(--color-grey-6);
}

.cardJobs > .cardContainerInformations {
  display: flex;
  gap: 2rem;
}

.cardJobs > .cardContainerButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContainerButton > .containerModality {
  display: flex;
  gap: 1.25rem;
}

.cardJobSelected {
  width: 100%;
  background-color: var(--color-grey-6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 1.75rem;
  gap: 1.25rem;
  border-bottom: 0.125rem solid var(--color-grey-5);
  transition: all ease-in-out 300ms;
}
.cardJobSelected:hover {
  background-color: var(--color-grey-4);
}

.cardJobSelected > .cardJobSelectedTitle {
  display: flex;
  gap: 1.625rem;
}
.cardJobSelected > .cardJobSelectedInfo {
  display: flex;
  gap: 2rem;
}

.cardEmpty {
  width: 100%;
  height: 10rem;
  background-color: var(--color-grey-6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1.75rem;
  gap: 1.25rem;
  border-bottom: 0.125rem solid var(--color-grey-5);
}
.cardEmpty:hover {
  background-color: var(--color-grey-5);
}

.cardEmpty:hover > .containerObjects > .objectCardOne {
  background-color: var(--color-grey-6);
}

.cardEmpty:hover > .containerObjects > objectCardThree > .boxOne {
  background-color: var(--color-grey-6);
}

.containerObjects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.containerObjects > .objectCardOne {
  width: 6.25rem;
  height: 0.85rem;
  background-color: var(--color-grey-5);
  border-radius: 2rem;
}
.containerObjects > .objectCardTwo {
  width: 10rem;
}
.containerObjects > objectCardThree {
  display: flex;
  gap: 9px;
}

objectCardThree > .boxOne {
  width: 5rem;
  height: 0.85rem;
  background-color: var(--color-grey-5);
  border-radius: 2rem;
}

objectCardThree > .boxTwo {
  width: 4rem;
}

@media (max-width: 991px) {
  .cardJobs {
    width: 100%;
    height: 33.75rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
  }

  .cardJobs > .cardContainerButton {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .cardJobSelected {
    width: 100%;
  }
}
